/** GENERIC STYLE CHANGES */

/*! Reset page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*! Tag HTML */
body{
    font-family: 'Fredoka', sans-serif;
}

a{
    text-decoration: none;
}

/*! Classes */
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.fl-lf{
    float: left;
}

.fl-rg{
    float: right;
}



/** SPECIFIC STYLE CHANGES: Main Section */
main{
    width: 68%;
    margin: 0 auto;
}

/*! Main Title */
main h1{
    color: #e43f79;
    text-align: center;
    padding: 1.9rem 0 2.7rem;
    font-size: 2.3rem;
}

/*! Main Paragraph */
main p{
    text-align: center;
}

/*! Profile Cards */
.profile-card{
    margin-top: 2.7rem;
    background-color: black;
    box-shadow: 0 3px 10px #727678;
    height: 5.5rem;
    width: calc((100% /3 ) - 2rem);
}

.profile-card:hover{
    box-shadow: 0 10px 10px #727678;
    transform: scale(1.2);
}

.profile-card:not(.profile-card:nth-of-type(3n+3)){
    margin-right: 2.5rem;
}

.profile-card img{
    width: 30%;
    height: 100%;
}

.profile-informations{
    width: 70%;
    padding: 0.7rem 0 0 0.7rem;
}

.profile-informations :hover{
    transform: scale(1.1);
    transition: all .2s ease-in;
}

.profile-informations :nth-child(2){
    margin: 0.3rem 0;
}

.profile-informations h2{
    color: #fefdfb;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.profile-job{
    color: #e6dfdf;
}

.profile-job:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.profile-informations address a{
    color: #1ec6e6;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
}

.profile-informations address a:hover{
    color: aqua;
}

.profile-informations address a:active{
    color: red;
}

.profile-job{
    font-size: 0.9rem;
}