/** GENERIC STYLE CHANGES */

/*! Reset page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*! Tag HTML */
body{
    font-family: 'Fredoka', sans-serif;
}

a{
    text-decoration: none;
}

/*! Classes */
.clearfix{
    display: table;
    content: '';
    clear: both;
}

.fl-lf{
    float: left;
}

.fl-rg{
    float: right;
}



/** SPECIFIC STYLE CHANGES: Main Section */
main{
    width: 68%;
    margin: 0 auto;
}

/*! Main Title */
main h1{
    color: #e43f79;
    text-align: center;
    padding: 1.9rem 0 2.7rem;
    font-size: 2.3rem;
}

/*! Main Paragraph */
main p{
    text-align: center;
}

/*! Profile Cards */
.profile-card{
    margin-top: 2rem;
    background-color: black;
    box-shadow: 0 2px 10px #727678;
}

.profile-card img{
    width: 20%;
}

.profile-informations{
    width: 80%;
}

.profile-card h2{
    color: #fefdfb;
    text-transform: uppercase;
}

.profile-job{
    color: #e6dfdf;
}