/** GENERIC STYLE CHANGES */

/*! Reset page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*! Tag HTML */
body{
    font-family: 'Fredoka', sans-serif;
}

main{
    width: 68%;
    margin: 0 auto;
}

main h1{
    color: #e43f79;
    text-align: center;
}

main p{
    text-align: center;
}